.modal-overlay {
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.80);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 6px 32px rgba(8,66,54,0.12);
    padding: 60px 48px 32px 48px;
    min-width: 400px;
    max-width: 540px;
    position: relative;;
    h1{
      margin-left: 50px;
    }
  }



  .modal-close {
    position: absolute;
    right: 24px;
    top: 24px;
    background: none;
    border: none;
    font-size:xx-large;
    color: red;
    cursor: pointer;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 50px;
  }
  
  .modal-form label {
    color: #084236;
    font-size: 1.1rem;
    margin-bottom: 4px;
    font-weight: 500;
  }
  
  .modal-form input{
    width: 12vw;
    padding: 8px 8px;
    border: 1px solid #C2CA83;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    margin-top: 4px;
    align-items:center;
  }

  .product_name input[type="text"]{

    margin-left: 40px;
  }
  .product_unit  input[type="text"]{
    margin-left: 135px;

  }
  .product_price input[type="number"] {
    margin-left: 48px;
  }
  

  .product_description input[type="text"] {
    margin-left: 65px;
  }
  .modal-image-url-label {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
  
  .modal-image-url-row {
    display: flex;
    flex-direction: column;
  }
  
  .modal-image-url-input {
    padding: 8px 12px;
    border: 1px solid #C2CA83;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
  }
  
  .modal-product-img {
    width: 150px;
    height: 150px;
    border-radius: 14px;
    object-fit: cover;
    border: 1px solid #C2CA83;
    box-shadow: 0 2px 8px rgba(8,66,54,0.12);
  }
  
  .modal-btns {
    display: flex;
    justify-content:space-between;
    margin-right: 65px;
    margin-left: -8px;
  }
  

  .remove-confirm {
    position: absolute;
    width: 25vw;
    height: 12vh;
    bottom: 5%; 
    left: 7%;
    background: #f8d7da;
    border-radius: 10px;
    padding: 16px 20px;
    text-align: center;
    min-width: 280px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 10;
  }


.remove-confirm p {
  margin-bottom: 12px;
  font-size: 1rem;
  color: #721c24;
}



@media (min-width: 1316px){
  .modal-card {
    height: 650px;
    padding: 50px 38px 22px 8px;
    h1{
      font-size: 2.5rem;
    }
  }
  
  .modal-image-url-row {
    gap: 25px;
  }
  

  
  .remove-confirm {
    margin-left: 50px;
    margin-top: 20px;
  }


.modal-form {
  gap: 12px;
  margin-left: 50px;
}

.modal-form input{
  width: 20vw;
}

.product_name input[type="text"]{

  margin-left: 55px;
}
.product_unit  input[type="text"]{
  margin-left: 135px;

}
.product_price input[type="number"] {
  margin-left: 60px;
}

.product_description input[type="text"] {
  margin-left: 75px;
}
.modal-image-url-label {
  gap: 40px;
}

.modal-image-url-input {
  max-width: 262px;
}

.modal-product-img {
  width: 180px;
  height: 180px;
}

.modal-btns {
  display: flex;
  justify-content:space-between;
  margin-right: 6px;
  margin-left: -8px;
  gap: 30px;
  margin-top: 40px;
  
}

}

@media (width: 2304px){
  .modal-card {
    height: 650px;
    padding: 50px 38px 22px 8px;
    h1{
      font-size: 2.5rem;
    }
  }
  
  .modal-image-url-row {
    gap: 25px;
  }
  

  
  .remove-confirm {
    margin-left: 5px;
    margin-top: 2px;
  }


.modal-form {
  gap: 12px;
  margin-left: 50px;
}

.modal-form input{
  width: 15vw;
}

.product_name input[type="text"]{

  margin-left: 55px;
}
.product_unit  input[type="text"]{
  margin-left: 135px;

}
.product_price input[type="number"] {
  margin-left: 63px;
}

.product_description input[type="text"] {
  margin-left: 78px;
}
.modal-image-url-label {
  gap: 44px;
}

.modal-image-url-input {
  max-width: 280px;
}

.modal-product-img {
  width: 180px;
  height: 180px;
}

.modal-btns {
  display: flex;
  justify-content:space-between;
  margin-right: 6px;
  margin-left: -8px;
  margin-top: 40px;
  
}

}


@media (width: 820px){
  .modal-card {
    margin-left: 200px;
    height: 650px;
    padding: 50px 38px 22px 8px;
    h1{
      font-size: 2rem;
    }
  }
  
  .modal-image-url-row {
    gap: 35px;
  }
  

  
  .remove-confirm {
    height: 10vh;
    margin-left: 50px;
    margin-top: 20px;
  }

  .remove-confirm p {
    margin-bottom: 18px;
    font-size: 1rem;
  }

.modal-form {
  gap: 12px;
  margin-left: 50px;
}

.modal-form input{
  width: 25vw;
}

.product_name input[type="text"]{

  margin-left: 55px;
}
.product_unit  input[type="text"]{
  margin-left: 135px;

}
.product_price input[type="number"] {
  margin-left: 60px;
}

.product_description input[type="text"] {
  margin-left: 75px;
}
.modal-image-url-label {
  gap: 40px;
}

.modal-image-url-input {
  max-width: 262px;
}

.modal-product-img {
  width: 160px;
  height: 160px;
}

.modal-btns {
  display: flex;
  justify-content:space-between;
  margin-right: 6px;
  margin-left: -8px;
  gap: 30px;
  margin-top: 50px;
  
}

}



@media (width: 1024px){
  .modal-card {
    margin-left: 200px;
    height: 450px;
    font-size: 0.1rem;
    padding: 50px 38px 22px 8px;
    h1{
      font-size: 1rem;
    }
  }
  
  .modal-image-url-row {
    gap: 13px;
  }
  

  
  .remove-confirm {
    margin-left: 50px;
  }

  .remove-confirm p {
    margin-bottom: 1px;
    font-size: 0.8rem;
  }

.modal-form {
  gap: 8px;
  margin-left: 50px;
 
}

.modal-form input{
  width: 18vw;
  font-size: 0.8rem;
}

.product_name input[type="text"]{

  margin-left: 55px;
}
.product_unit  input[type="text"]{
  margin-left: 112px;

}
.product_price input[type="number"] {
  margin-left: 60px;
}

.product_description input[type="text"] {
  margin-left: 71px;
}
.modal-image-url-label {
  gap: 45px;
}

.modal-image-url-input {
  width: 274px;
}

.modal-product-img {
  width: 120px;
  height: 120px;
}
  
.modal-form label {
  font-size: 0.8rem;
  margin-bottom: 1.5px;
}

.modal-btns {
  display: flex;
  justify-content:space-between;
  margin-right: 10px;
  margin-left: -8px;
  margin-top: 20px;
  
}

}